@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color:black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1500px;
  margin: auto;
}
